:root{
    --title-color: #ffffff;

}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}
/* HEADER LOGO*/
.header-logo{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
color:#4d5ae5
}

.span-studio
{
    color: #f4f4fd;
}

.span-studio-one{
    color: #2E2F42;
}
    

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

/* HEADER*/

.header-address{
    font-style: normal
}

.header-link{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.header-link:hover{
    color: #404BBF;
}
.header-link:focus{
color: #404BBF;
}

.header-address-link{
    font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.header-address-link:hover{
    color: #404BBF;
}
.header-address-link:focus{
color: #404BBF;
}

/* SECTION HTML */

.section-one{
background: #2E2F42;
}


.hero-button{
    background-color: #4D5AE5;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        align-items: center;
        letter-spacing: 0.04em; 
        color: var(--title-color);
}
.hero-butto:hover{
background-color: #404BBF
}
.hero-butto:focus{
background-color: #404BBF
}

.hero-one{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
color: var(--title-color);
}


/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

.about-name{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF
}

.about-work{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* SECTION 2 */

.hero-two{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

/* SECTION 3 */

.section-human{
background-color: #F4F4FD;
}


.hero-three{
    background-color: #F4F4FD;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.human-hero{
    background-color: #FFFFFF;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.human-work{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
}

.humah-tiem {
background-color: var(--title-color);
}

/* FOOTER */

.footer-information{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

.footer{
    background: #2E2F42;
}

/*  tow list */

.button-list-tow {
    font-family: 'Roboto' sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        background-color:#f4f4fd;
        cursor: pointer;
}

.button-list-tow :hover {
   background-color: #404bbf;
   content: var(--title-color);
}

.button-list-tow:focus {
 background-color: #404bbf;
 color: var(--title-color);
}

.row-list{
    text-decoration: none;
}

.horo-row{
font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.bottom-row{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}